/* awal navbar */
nav img {
    width: 35px;
}

nav img{
    margin-bottom: 3px;
}

a.navbar-brand {
    color: white;
}
a.nav-link{
    color: white;
}

/* akhir navbar */

.jumbotron{
    margin-top: 64px;
    margin-bottom: 0px;
}

/* awal about */
.about{
    margin-top: 50px;
    margin-bottom: 60px;
}
hr{
    width: 100px;
    border-top: 4px solid #05123f ;
}
/* akhir about */
.contact{
    margin-top: 100px;
    background-color: #081c64;
    color: white;
}
.contact_hr{
    width: 100px;
    border-top: 4px solid white;
}
/* footer */
.card{
    background-color: #05123f;
    color: white;
}

